@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Pacifico");

body {
    font-size: 87.5%;
    font-family: "Lato", sans-serif;
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoration: none;
}

a:link , a:active {

}

a:hover,a:active{

}

h1, h2, h3, h4, h5, h6 {
    color: #e5474b;
    text-transform: uppercase;
}


.body {
    margin: 0 auto;
    clear: both;
}

#header  {
    background-color: #1c1c1c;
    color: red;
    height: 5em;
    left: 0;
    line-height: 5em;
    position: fixed;   
    top: 0;
    width: 100%;
}

.container {
    margin: 0 auto;
}



#header .logo {
    font-family: 'Pacifico', cursive;   
    color: #e5474b;
    font-size: 1.75em;  
    padding: 0 4%; 
    float:  left; 
}

#header  nav{   
    float: right;
}

#header nav ul{
    list-style: none;
    margin: 0 auto;
    padding:  0;
}

#header  nav ul li{
    display: inline-block;;
}

#header  nav a:link , #header  nav a:visited {
    color: #fff;    
    padding: 26px 20px;   
}

#header  nav a:hover, #header  nav a:active,
#header  nav .active a:link, #header  nav .active a:visited {
    background-color: #e5474b
}

#header .icon-hamburger{
    display: none;
    margin-right: 5%;
    font-size: 3em;
}

/******************* end header  *********************/

#main {   
    margin: 10% 5%;;
}

#main .home div {
    width: 65%;
    float: left;
}

#main .home-sidebar {
    width: 25%;
    float: right;    
}

content p {
    text-align: justify;
}

/*  Team Section*/
.team-members , .team-full {
    display: inline-flex;
}
#main  a.btn-link {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #e5474b;
    color: #e5474b !important;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    border-radius: 0;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-size: .8em;
    font-weight: 700;
    height: 3.5em;
    line-height: 3.65em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

.team-members > div img {
    border-radius: 50%;
}

.text-center {
    text-align: center;
}

.title {
    padding-bottom: 2em;
    font-size: 1.5em;
}

section.misionvision {
    margin: 0 auto;
    padding: 0;
}

section.misionvision > div img{
    border-radius: 0;
    width: 100%;
}

#main-footer{
  background-color: #1c1c1c;  
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5rem;
  text-align: center;
  display: none; /* mostrar footer*/
    
}





.contactus{
    max-width: 65em;
    width: calc(100% - 6em);
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}

.contactus header {
        margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #e5474b;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #e5474b;
    color: #ffffff !important;
}

label {
    color: #e5474b !important;
}

#main .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}



@media only screen and (max-width: 600px) {
        #header nav {
            display: none;
        }

        #header .icon-hamburger{   
            display: block;         
            float: right;
        }

        #main {            
            margin: 20% 2%;
        }
        .team-members , .team-full {
            display: block;
        }
        .team-members div {
            padding: 5%;
        }
}

@media only screen and (max-width: 400px) and (min-width: 250px){
    #main {            
            margin: 40% 2%;
        }
}


.robot {
    text-align: center;
}

