body{
    margin: 0;
    padding: 0;
    font-size: 15px;
}

body section ,body header    {
    margin: 1em;
    padding: 1em;
}

footer {
   position:fixed;
   padding: 1em;
   bottom:0;
   height:10em;
   width:100%;
   background:#1a6ecc;
   
}

nav {       
  background-color:  #1a6ecc;
  margin: 0;
  padding: 2em;
  width: 100%;
  
}
nav ul li {
    display: inline-block;
}

li > a {           
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #ffffff;
    line-height: 21px;
}

a {
    text-decoration: none;
    background-color: transparent;
}

body > section {
    display: inline-flex;
}

